*{
	margin: 0;
	padding: 0;
	cursor: default;
}

body, html {
	height: 100%;
	background-color: #eee;
}

.wrapper {
	width: 8.5in;
	margin: 0 auto;
	height: 11in;
	top: 0;
	background-color: #fff;
	z-index: -1;
}

.wrapper header {
	position: relative;
	width: 100%;
	z-index: 1;
}

.wrapper header div:nth-child(1) {
	position: absolute;
	width: 100%;
	height: 150px;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #005c09 ;
	margin: 0 auto;
}

.wrapper header div:nth-child(2){
	position: absolute;
	width: 80%;
	height: 150px;
	margin: 50px auto;
	top: 0;
	left: 10%;
	z-index: 1;
	background-color: #fff;
	border-style: solid;
	border-color: #cfb000;
	border-width: 3px;
}

.wrapper header div h2 {
	font-family: 'Sorce Sans Pro', sans-serif;
	font-size: 50px;
	color: #333;
	letter-spacing: 3px;
	text-align: center;
	line-height: 100px;
}

.wrapper header div h1 {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	color: #555;
	letter-spacing: 2px;
	text-align: center;
	line-height: 40px;
	font-style: italic;
}

main {
	position: relative;
	top: 200px;
}

.contact {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
}

.contact ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
}

.contact ul li {
	text-decoration: none;
	text-align: center;
	margin: 10px;
	font-size: 24px;
	color: #333;
	line-height: 24px;
}

.contact ul li h4 {
	float: center;
	font-family: 'Merriweather', serif;
	font-size: 12px;
	font-style: italic;
	letter-spacing: 1px;
	color: #333;
}

.info {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 1fr 1fr;
	margin: 0 40px;
	padding-top: 50px;
	height: 500px;
}

.info section {
	margin: 0 10px;
}

.info section h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	letter-spacing: 1px;
	color: #111;
	width: 100%;
	padding-bottom: 6px;
	border-bottom-style: solid;
	border-bottom-width: 6px;
	border-bottom-color: #005c09;
}

.skills {
	grid-row-start: 1;
	grid-row-end: 3;
}

.skills div {
	padding: 20px 8px;
}

.skills div h2:nth-child(1){
	margin-top: 0;
}

.skills div h2 {
	font-family: arial;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	color: #111;
	letter-spacing: 1px;
	width: 100%;
	margin-top: 16px;
}

.skills div ul {
	list-style: square;
	margin-left: 30px;
}

.skills div ul li {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 1px;
	margin-top: 8px;
	line-height: 22px;
}

.skills h4 {
	font-family: arial;
	font-size: 16px;
	margin-top: 40px;
	color: #111;
	float: left;
}

.skills h5 {
	float: left;
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-style: italic;
	color: #111;
	margin-top: 40px;
	margin-left: 10px;
}

.education div {
	padding: 20px 8px 0 8px;
}

.education div h5 {
	font-family: arial;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	color: #111;
	letter-spacing: 1px;
	width: 100%;
	margin-bottom: 6px;
}

.education div h4 {
	font-family: 'Merriweather', serif;
	font-size: 13px;
	font-weight: 600;
	font-style: normal;
	color: #111;
	letter-spacing: 1px;
	line-height: 20px;
}

.education div p {
	font-family: 'Merriweather', serif;
	font-size: 15px;
	line-height: 22px;
	margin-top: 6px;
	padding-left: 6px;
	font-weight: 100;
	letter-spacing: 1px;
	font-weight: 100;
	color: #111;
}

.work {
	padding-top: 10px;
}

.work div {
	padding: 16px 8px 0 8px;
}

.work div h5 {
	font-family: arial;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	color: #111;
	letter-spacing: 1px;
	width: 100%;
	margin-bottom: 6px;
}

.work div h4 {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
}

.footer {
	width: 100%;
	height: 132px;
	background-color: #005c09;
}
